body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  #weather-container {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }

  #city-name {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }

  #weather-icon {
    width: 80px;
    height: 80px;
  }

  #weather-description {
    font-size: 1.1rem;
    font-weight: bold;
    color: #666;
    margin-bottom: 1rem;
  }

  p {
    margin: 0.5rem 0;
    color: #444;
  }